# all files
*

# .gitignore
!.gitignore

# zsh
!zsh/
!zsh/.zshenv
!zsh/.zshrc

# sheldon
!sheldon/
!sheldon/plugins.toml

# wezterm
!wezterm/
!wezterm/wezterm.lua

# nvim
!nvim/
!nvim/init.lua
!nvim/lsp/
!nvim/lsp/*
!nvim/lua/
!nvim/lua/*
!nvim/lua/config/
!nvim/lua/config/*

# README
!README.md
