# all files
*

# .gitignore
!.gitignore

# bootstrap
!bootstrap/
!bootstrap/*

# zsh
!zsh/
!zsh/.zshenv
!zsh/.zshrc
!zsh/aliases.zsh

# sheldon
!sheldon/
!sheldon/plugins.toml


# nvim
!nvim/
!nvim/init.lua
!nvim/lua/
!nvim/lua/*
!nvim/lua/config/
!nvim/lua/config/*
!nvim/lua/config/plugins/
!nvim/lua/config/plugins/*

# tmux
!tmux/
!tmux/tmux.conf

# README
!README.md


# yt-dlp
!yt-dlp/
!yt-dlp/*

# git
!git/
!git/config
!git/ignore
!git/hooks/
!git/hooks/*
