# all files
*

# .gitignore
!.gitignore

# bootstrap
!bootstrap/
!bootstrap/*

# zsh
!zsh/
!zsh/.zshenv
!zsh/.zshrc

# sheldon
!sheldon/
!sheldon/plugins.toml

# alacritty
!alacritty/
!alacritty/alacritty.toml

# wezterm
!wezterm/
!wezterm/wezterm.lua

# nvim
!nvim/
!nvim/init.lua
!nvim/lua/
!nvim/lua/*
!nvim/lua/config/
!nvim/lua/config/*
!nvim/lua/config/plugins/
!nvim/lua/config/plugins/*

# tmux
!tmux/
!tmux/tmux.conf

# README
!README.md


# yt-dlp
!yt-dlp/
!yt-dlp/*

# git
!git/
!git/config
!git/ignore
